{% extends "admin/change_form.html" %}

{% block object-tools-items %}
{% if original %}
<li><a href="{% url 'admin:catalog_activityclass_roster' original.pk %}">Roster</a></li>
<li><a href="{% url 'admin:catalog_activityclass_roster' original.pk %}?format=csv">Download CSV</a></li>
<li><a href="{% url 'admin:enrollments_enrollment_requests' %}?class={{ original.pk }}">Requests</a></li>
<li><a href="{{ original.get_absolute_url }}">View on site</a></li>
{% endif %}
{{ block.super }}
{% endblock %}
